#grid {
	margin: 10px;
	min-width: 300px;
}

@media (min-width: 700px) {
	.row:after {
		content: " ";
		display: table;
		clear: both;
	}

	.column-half {
		width: 50%;
		float: left;
		padding: 10px;
		box-sizing: border-box;
	}
}

#canvascont {
	display: block;
	width: 80%;
	margin: auto;
}

.border {
	border: 1px solid #CCC;
}


/* form styling */

input[type=text]	{
	border: 1px solid #CCC;
}

.warning	{
	background-color: #F2DEDE;
}

/* fabric */

.fabric	{
	display: block;
	width: 20px;
	height: 20px;
	float: left;
	margin-right: 5px;
	border: 1px solid #666;
}

p	{
	clear: both;
}