#grid {
	margin: 10px;
	min-width: 310px;
}

@media (min-width: 700px) {
	.row:after {
		content: " ";
		display: table;
		clear: both;
	}

	.column-half {
		width: 50%;
		float: left;
		padding: 10px;
		box-sizing: border-box;
	}
}

#quilt {
	max-width: 100%;
}

.border {
	border: 1px solid #CCC;
}

/* define quilt row */
.quiltrow {
	margin: 0;
	padding: 0;
	height: 60px;
}

/* define quilt blocks */

span	{
	display: inline-block;
}

.square	{
	width: 60px;
	height: 60px;
	background: rgba(110, 152, 121, 1);
}

.hst-topleft {
	width: 0;
	height: 0;
	border-top: 60px solid rgba(110, 152, 121, 1);
	border-right: 60px solid transparent;
}

.hst-topright {
	width: 0;
	height: 0;
	border-top: 60px solid rgba(110, 152, 121, 1);
	border-left: 60px solid transparent;
}

.hst-bottomright {
	width: 0;
	height: 0;
	border-bottom: 60px solid rgba(110, 152, 121, 1);
	border-left: 60px solid transparent;
}

.hst-bottomleft {
	width: 0;
	height: 0;
	border-bottom: 60px solid rgba(110, 152, 121, 1);
	border-right: 60px solid transparent;
}

/* form styling */

input[type=text]	{
	border: 1px solid #CCC;
}

.warning	{
	background-color: #F2DEDE;
}